nav {
	width: 100%;
}
.shop-btn,
.account-btn {
	border-radius: 40px;
	width: 5rem;
	outline: none;
	font-weight: medium;
	border-color: #5d54a4;
}
.shop-btn:hover,
.account-btn:hover {
	border-color: #5d54a4;
}
.shop-btn {
	color: #5d54a4;
}
.shop-btn:hover {
	background-color: #5d54a4;
}

.account-btn {
	color: white;
	background-color: #5d54a4;
}
.account-btn:hover {
	background-color: #ffff;
	color: #5d54a4;
}

.btns {
	padding-right: 35px;
}
